<fieldset ngModelGroup="device">
    <div class="mt-3">
        <label for="uid" class="form-label">UID</label>
        <input type="number" class="form-control" id="uid" name="uid" [(ngModel)]="device.uId" required>
    </div>
    <div class="mt-3">
        <label for="vendor" class="form-label">Vendor</label>
        <input type="text" class="form-control" id="vendor" name="vendor" [(ngModel)]="device.vendor" required>
    </div>
    <div class="mt-3">
        <label for="status" class="form-label">Status</label>
        <select class="form-control" id="status" name="status" [(ngModel)]="device.statusId">
            <option *ngFor="let status of deviceStatus" [value]="status.id">
                {{ status.name }}
            </option>
        </select>
    </div>
</fieldset>
