.item {
    border-bottom: 1px solid #6a6c6f;
}

a, a:focus, a:visited, a:hover {
    color: #6a6c6f;
    text-decoration: none;
    font-weight: bold;
    font-size: small;
}

a.active {
    color: black;
}