<ng-container *ngIf="gateway">
    <!-- Data collectiom -->
    <div class="row mb-3 mt-2 pb-3 collection-row">
        <div class="col">
            <div class="row">
                <div class="col-12 col-md-6 mb-1">
                    <span class="d-md-none">
                        Name: 
                    </span>
                    <span>
                        <a [routerLink]="['/gateway', gateway.id]" title="Edit this gateway">
                            {{ gateway.name }}
                        </a>
                    </span>
                </div>
                <div class="col-12 col-md-3 mb-1">
                    <span class="d-md-none">
                        Serial: 
                    </span>
                    <span>
                        {{ gateway.serialNumber }}
                    </span>
                </div>
                <div class="col-12 col-md-3 mb-1">
                    <span class="d-md-none">
                        Ipv4: 
                    </span>
                    <span>
                        {{ gateway.ipV4Address }}
                    </span>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button type="button" class="btn p-0 m-0 btn-sm" (click)="removeGateway(gateway.id)" title="Remove this gateway">
                <span class="bi-trash-fill"></span>
            </button>
        </div>
    </div>
</ng-container>

