<form #formGateway="ngForm" (ngSubmit)="onSubmit(formGateway)">

    <!-- Gateway general info -->
    <app-card title="Gateway info">
        <div class="mt-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="gateway.name" required>
        </div>
        <div class="mt-3">
            <label for="serial" class="form-label">Serial number</label>
            <input type="text" class="form-control" id="serial" name="serial" [(ngModel)]="gateway.serialNumber" required>
        </div>
        <div class="mt-3">
            <label for="ipv4" class="form-label">Ip v4 Address</label>
            <input type="text" class="form-control" id="ipV4Address" name="ipV4Address" [(ngModel)]="gateway.ipV4Address" 
                pattern="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$" 
                required>
        </div>
    </app-card>

    <!-- Devices -->
    <div class="mt-3" *ngFor="let device of gateway.devices; index as i">
        <app-card>
            <app-card-caption title="Device">
                <button type="button" class="btn p-0 m-0 btn-sm" (click)="removeDevice(i)" title="Remove this device">
                    <span class="bi-trash-fill"></span>
                </button>
            </app-card-caption>
            <div class="mt-3">
                <label [for]="'uid_' + i" class="form-label">UID</label>
                <input type="number" class="form-control" [id]="'uId_' + i" [name]="'uId_' + i" [(ngModel)]="gateway.devices[i].uId" required>
            </div>
            <div class="mt-3">
                <label [for]="'vendor_' + i" class="form-label">Vendor</label>
                <input type="text" class="form-control" [id]="'vendor_' + i" [name]="'vendor_' + i" [(ngModel)]="gateway.devices[i].vendor" required>
            </div>
            <div class="mt-3">
                <label for="status" class="form-label">Status</label>
                <select class="form-control" [id]="'status_' + i" [name]="'status_' + i" [(ngModel)]="gateway.devices[i].statusId">
                    <option *ngFor="let status of deviceStatus" [value]="status.id">
                        {{ status.name }}
                    </option>
                </select>
            </div>
        </app-card>
    </div>

    <div class="mt-3" *ngIf="alertMessage.length > 0">
        <ngb-alert [type]="alertType" (closed)="alertMessage = ''">{{ alertMessage }}</ngb-alert>
    </div>
    
    <div class="mt-3">
        <app-card>
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary" [disabled]="formGateway.form.invalid">
                    {{ gateway.id ? 'Update' : 'Create'}}
                </button>
                <button type="reset" class="btn btn-danger" (click)="removeAllDevices()" *ngIf="!gateway.id">Cancel</button>
                <button type="button" class="btn btn-secondary" (click)="addDevice()" [disabled]="gateway.devices && gateway.devices.length >= 10">
                    Add device
                </button>
            </div>
        </app-card>
    </div>
</form>
